/*Global Styling*/
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;500;700&display=swap");
:root {
  --Alata: "Alata", sans-serif;
  --Josefin: "Josefin Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

/*Hero Section*/
header {
  min-height: 90vh;
  background-image: url("../images/desktop/image-hero.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 14rem;
}

nav {
  color: #fff;
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--Alata);
  font-size: 3vw;
}

.navlinks {
  display: flex;
  gap: 2rem;
}

.navlink {
  font-family: var(--Josefin);
  font-weight: 500;
  color: #fff;
  font-size: 1.25rem;
}

.hero-content {
  color: #fff;
  text-transform: uppercase;
  font-family: var(--Josefin);
  font-size: 5vw;
  font-weight: 100;
  border: 1.5px solid #fff;
  width: clamp(350px, 45vw, 1000px);
  padding: 2rem;
  margin-top: 7rem;
}

.about {
  display: flex;
  padding: 10rem 2rem;
  justify-content: center;
}

.about-image {
  /* width: clamp(350px, 50vw, 1960px); */
  align-self: flex-end;
  min-height: 700px;
}

.about-content {
  max-width: 40%;
  font-family: var(--Josefin);
  align-self: flex-end;
  padding-left: 9rem;
  padding-top: 9rem;
  margin-left: -16.5rem;
  background-color: #fff;
}

.about-content .heading {
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 100;
}

.about-content .description {
  color: hsl(0, 0%, 55%);
  max-width: 70%;
  font-size: 1.25rem;
  line-height: 1.7;
  padding-top: 2rem;
}

/*Work Section*/
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work .heading {
  font-family: var(--Josefin);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.work .heading p {
  font-size: 3vw;
  font-weight: 100;
}

.work .heading button {
  font-family: var(--Alata);
  color: hsl(0, 0%, 0%);
  border: 1.5px solid hsl(0, 0%, 0%);
  cursor: pointer;
  background-color: #fff;
  text-transform: uppercase;
  min-width: 120px;
  padding-block: 15px;
  padding-inline: 2rem;
  font-size: 1.125rem;
  letter-spacing: 0.125rem;
  border-radius: 0;
  transition: border-radius 0.15s ease-in, background-color 0.15s ease-in;
}

.work .heading button:hover {
  background-color: #111111;
  color: #fff;
  border-radius: 30px;
}

.grid-wrapper {
  padding-bottom: 10rem;
}

.grid-section {
  padding-top: 9rem;
  display: grid;
  grid-template-columns: repeat(4, 350px);
  gap: 3rem;
}

.grid-section .card {
  display: inline-block;
  width: 350px;

  position: relative;
}

.card::before {
  position: absolute;
  content: "";
  min-width: 100%;
  max-height: 99%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0.3) 70%
  );
  z-index: 1;
  inset: 0;
}

.card img {
  min-width: 100%;
  object-fit: cover;
}

.card .tag {
  position: absolute;
  z-index: 2;
  color: #fff;
  bottom: 3rem;
  left: 3rem;
  font-family: var(--Josefin);
  text-transform: uppercase;
  width: 80%;
  font-size: 3rem;
  font-weight: 100;
}

/*Footer*/
footer {
  background: #000;
  min-height: 18svh;
  padding: 2.5rem;
}

.footer-wrapper {
  max-width: 80%;
  margin-inline: auto;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-header h2 {
  color: #fff;
  font-family: var(--Alata);
  font-size: 1.6vw;
  margin-bottom: 2rem;
}

.social-links {
  display: flex;
  gap: 1.125rem;
}

.social-links .links img {
  width: 36px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.copyright-tag {
  color: hsl(0, 0%, 41%);
  font-family: var(--Josefin);
}

/*Media queries*/

@media screen and (max-width: 1600px) {
  header {
    min-height: 50vh;
  }
  .about-image {
    min-height: 550px;
  }

  .about-content {
    max-width: none;
    padding-top: 5rem;
    padding-left: 5rem;
  }

  .about-image {
    align-self: center;
  }

  .about-content .heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    flex-direction: column;
  }
  .about-image {
    align-self: center;
    min-height: 150px;
    max-width: 100%;
  }
  .about-content {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }

  .about-content .description {
    max-width: 100%;
  }
}

@media screen and (min-width: 1599px) {
  section {
    min-height: 90vh;
  }
}

@media screen and (min-width: 991px) {
  .navlink {
    position: relative;
  }
  .navlink::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #fff;
    bottom: 0;
    transition: width 0.25s ease-in;
    transform-origin: center;
    left: 50%;
    transform: translateX(-50%);
    top: 1.75rem;
  }
  .navlink:hover::before {
    width: 100%;
  }
}
